In [9]:
import os
import datetime

In [10]:
p_filename = "_out_stock_data.csv"

In [11]:
time_stamp = datetime.datetime.now().strftime('%Y-%m-%d')

In [16]:
filename = time_stamp+" NQ=F"+p_filename

In [17]:
filename

'2022-06-29 NQ=F_out_stock_data.csv'

In [18]:
p_filename = "_out_stock_data.csv"
time_stamp = datetime.datetime.now().strftime('%Y-%m-%d')
#filename = os.path.join(str(time_stamp) +"NQ=F" + p_filename)
filename = time_stamp+" NQ=F"+p_filename

In [19]:
filename

'2022-06-29 NQ=F_out_stock_data.csv'

In [20]:
cwd = os.getcwd()
path = os.path.dirname(cwd)
file_path = path + "\\stock\\data\\"

In [21]:
file_path

'D:\\Development\\flask dev\\stock\\data\\'

In [22]:
file = os.path.join(file_path, filename)

In [23]:
file

'D:\\Development\\flask dev\\stock\\data\\2022-06-29 NQ=F_out_stock_data.csv'

In [24]:
df = pd.read_csv(file)

NameError: name 'pd' is not defined

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv(file)

In [27]:
df

     2022-06-29 13:21:00  11713.25  11713.25.1  11713.25.2  11713.25.3
0    2022-06-29 13:21:00  11713.25    11713.25    11713.25    11713.25
1    2022-06-29 13:22:00  11716.50    11716.50    11716.50    11716.50
2    2022-06-29 13:22:00  11716.25    11716.25    11716.25    11716.25
3    2022-06-29 13:23:00  11717.00    11717.00    11717.00    11717.00
4    2022-06-29 13:24:00  11718.25    11718.25    11718.25    11718.25
..                   ...       ...         ...         ...         ...
143  2022-06-29 15:09:00  11642.25    11642.25    11642.25    11642.25
144  2022-06-29 15:10:00  11634.00    11634.00    11634.00    11634.00
145  2022-06-29 15:10:00  11640.00    11640.00    11640.00    11640.00
146  2022-06-29 15:11:00  11638.25    11638.25    11638.25    11638.25
147  2022-06-29 15:11:00  11633.25    11633.25    11633.25    11633.25

[148 rows x 5 columns]